<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7z.NET" version="1.0.3" targetFramework="net47" />
  <package id="Autodesk.Forge.DesignAutomation.Inventor.Utils" version="1.0.0-beta1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>